<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EQFCT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EQFCT.Properties.Settings>
            <setting name="LogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DmgDoneTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DmgDoneLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DmgTakenTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DmgTakenLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DmgDoneFontSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DmgTakenFontSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DmgTakenHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="DmgDoneHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="DmgDoneFontColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="DmgTakenFontColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="DmgDoneShowMisses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DmgTakenShowMisses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DmgDoneCritsOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HealFontColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="YouHealFontColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
        </EQFCT.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>